<div class="container hero">
  <div class="row">
      <div class="col-12 col-lg-5 col-xl-5 offset-lg-1 offset-xl-1 d-lg-block">
          <h1>Ajay Karthick</h1>
          <p>Personal Portfolio page of Ajay Karthick.</p>
          <button class="btn btn-light btn-lg action-button" type="button">Skills</button>
            <p class="line type-writer-effect">Coming Soon...!</p>
      </div>

      <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-1 d-none d-lg-block">
        <div class="terminal">
          <div class=menu>
            <div class="buttons close-terminal-btn"></div>
            <div class="buttons minimize-terminal-btn"></div>
            <div class="buttons zoom-terminal-btn"></div>
          </div>
          <div class="screen">
            <output>> coming soon!!!<span class="cursor">_</span></output>
          </div>
        </div>
      </div>
  </div>
</div>
