<div class="hero container-fluid">
  <div class="row row1">
      <div class="col-md-6 intro-col">
          <h1 class="my-name">Ajay Karthick</h1>
          <p class="full-stack-text">Full Stack Developer with experience in</p>
          <p class="exp-writer"></p>
      </div>

      <div class="col-md-6 terminal-col">
        <app-terminal></app-terminal>
      </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 tile-col">
      <div class="tile">
        <app-tile></app-tile>
      </div>
    </div>
  </div>
</div>
