.section1 {
  background: linear-gradient(135deg, #172a74, #21a9af);
  background-color: #184e8e;
  padding-bottom: 80px;
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .section1 {
    padding-bottom: 120px;
  }
}
