<ul>
  <li>
    <h6 class="role">Full Stack Developer @ TCS</h6>
    <ul>
      <li class="tech1">MEAN Stack <span class="duration">2020 - now</span></li>
      <li class="tech1"> Full Stack with Angular, Spring Boot and Oracle DB <span class="duration">2018 - 2020</span></li>
    </ul>
  </li>
  <li>
    <h6 class="role">Backend Developer @ TCS</h6>
      <ul>
        <li class="tech2"> Java Spring Boot<span class="duration">2016 - 2018</span></li>
      </ul>
  </li>
  <li>
    <h6 class="role">Freelancer</h6>
      <ul>
        <li class="duration"> 2019 - now</li>
      </ul>
  </li>
</ul>
