<p>I am Ajay Karthick, a full stack developer with 4+ years of experience in Angular, React, React Native, Node.Js, Django, Flask, Python and Java. I am familiar with each layer of technology stacks and web architecture
  as I worked in each layer functions and components.</p>
<p>I  developed, deployed, and maintained multiple full stack applications with creative frontends and logical backends for different clients.
  I worked in each phase of the application development life cycle.
</p>
<p>I ensure application responsiveness to the customers and applications security and ability to interact
  with multiple APIs, and databases. I am also experienced in troubleshooting the
  issues and resolving the critical issues. </p>
