<nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
  <div class="container-fluid">
    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav menu-list">
              <li class="nav-item"><a type="button" class="nav-link" (click)="goToTab('about')">About</a></li>
              <li class="nav-item"><a type="button" class="nav-link" (click)="goToTab('work')">Work Experience</a></li>
              <li class="nav-item"><a type="button" class="nav-link" (click)="goToTab('skills')">Skills</a></li>
              <li class="nav-item"><a type="button" class="nav-link" (click)="goToTab('projects')">Recent Projects</a></li>
          </ul>
      </div>
  </div>
</nav>
