<ul class="projects">
  <li>Recipe Book
    <ul>
      <li>This web application lets users to create, save and share their recipes in the form of cards and also has the feature of other users to rate and like the created recipes.</li>
      <li>Angular, Node.Js/Express and Mongo DB</li>
    </ul>
  </li>
  <li>E-cart Application
    <ul>
      <li>This is an online shopping application in angular with quick searching ability and responsiveness. </li>
      <li>Angular, Node.Js/Express and Mongo DB</li>
    </ul>
  </li>
  <li>Animal Center tracking application
    <ul>
      <li>This web application lets users to perform CRUD operation on the animals data in their animal center.</li>
      <li>Angular, Node.Js/Express and MySql</li>
    </ul>
  </li>
  <li>Lets Chat
    <ul>
      <li>This web/mobile application lets users to chat and voice/video call with others.</li>
      <li>Angular(web), Android(mobile) + Firebase + Sinch</li>
    </ul>
  </li>
</ul>
