<ul class="column-list">
<li class="icons website">Full Stack Development</li>
<li class="icons coding">JS CSS HTML</li>
<li class="icons angular">Angular</li>
<li class="icons react">React</li>
<li class="icons vue">Vue</li>
<li class="icons spring">Spring Boot</li>
<li class="icons flask">Flask</li>
<li class="icons express">Express</li>
<li class="icons django"></li>
<li class="icons python">Python</li>
<li class="icons java">Java</li>
<li class="icons nodejs">Nodejs</li>
<li class="icons mongodb">MongoDB</li>
<li class="icons postgresql">PostgreSQL</li>
<li class="icons mysql">MySql</li>
<li class="icons oracle">Oracle</li>
</ul>
