/* You can add global styles to this file, and also import other style files */
html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #111;
  color: #dbdbdb;
  overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&display=swap');

@font-face {
  font-family: league-spartan;
  src: url(assets/fonts/LeagueSpartan-Bold.otf) format("opentype");
}
